<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Users</title>
  </head>
  <body>
    <h1>Users from my webpage</h1>
    <div class="djangtwo">
      {% if users %}
          <table>
            <thead>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
            </thead>

          {% for usr in users %}
          <tr>
            <td>{{ usr.first_name }}</td>
            <td>{{ usr.last_name }}</td>
            <td>{{ usr.email }}</td>
          </tr>
          {% endfor %}
          </table>
        {% else %}
          <p>NO USERS FOUND!</P>
        {% endif %}

    </div>

  </body>
</html>
